{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<a>WATCHLIST</a>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Original Price</th>
                <th>Current Price</th>
                <th>Change</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for info in information %}
                <tr>
                    <td><a class="nav-link"; href="{{ info['url'] }}">{{ info["product"] }}</a></td>
                    <td>{{ info["price"] }}</td>
                    <td>{{ info["c_price"] }}</td>
                    <td>{{ info["change"] }}</td>
                    <td><button name="{{  info  }}">X</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
