{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<a>WATCHLIST</a>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Original Price</th>
                <th>Current Price</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            {% for dataset in data %}
                <tr>
                    <td>{{ dataset["symbol"] }}</td>
                    <td>{{ dataset["shares"] }}</td>
                    <td>{{ dataset["price"] }}</td>
                    <td>{{ dataset["total"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
