{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<form action="/searched" method="post">
    <div>
        <table>
            <thead>
                <th>Product Name</th>
                <th>Price</th>
                <th>Add to Watchlist?</th>
            </thead>
            <tbody>
                <td>{{  data["name"]  }}</td>
                <td>{{  data["price"]  }}</td>
                <td><button name="button">Add</button></td>
            </tbody>
        </table>
    </div>
</form>
{% endblock %}
