{% extends "layout.html" %}

{% block title %}
Upload
{% endblock %}

{% block main %}
<form action="/upload" method="post">
    <table>
        <thead>
            <th>Upload Pictures</th>
            <th>Upload Songs</th>
        </thead>
        <tbody>
            <td><input type="file" id="filepicker" name="pictures" webkitdirectory multiple /></td>
            <td><input type="file" name="songs"></td>
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Submit</button>
    <ul id="listing"></ul>
</form>
{% endblock %}