{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table>
    <tr>
        <th>Transaction</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>Shares</th>
        <th>Time</th>
    </tr>
    {% for i in length %}
    <tr>
        <td>{{  nature_list[i]  }}</td>
        <td>{{  symbols[i]["symbol"].upper()  }}</td>
        <td>{{  prices[i]["price"]|usd  }}</td>
        <td>{{  shares[i]["shares"]  }}</td>
        <td>{{  times[i]["time"]  }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
