{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table>
    <tr>
        <th>Bought/Sold</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>Shares</th>
        <th>Time</th>
    </tr>
    {% for dataset in data %}
    <tr>
        <td>{{  dataset[""]  }}</td>
        <td>{{  dataset[""]  }}</td>
        <td>{{  dataset[""]  }}</td>
        <td>{{  dataset[""]  }}</td>
        <td>{{  dataset[""]  }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
