{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table>
    <tr>
        <th>Bought/Sold</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>Shares</th>
        <th>Time</th>
    </tr>
    {% for i in length %}
    <tr>
        <td>{{  nature_list[i]  }}</td>
        <td>{{  symbols[i]  }}</td>
        <td>{{  prices[i]  }}</td>
        <td>{{  shares[i]  }}</td>
        <td>{{  times[i]  }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
