{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Stock</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total Value</th>
        </tr>

        {% for symbol in {{  all_symbols  }} %}
        <tr>
            <td>{{ symbol }}</td>
            <td>{{ shares }}</td>
            <td>{{ price }}</td>
            <td>{{ total }}</td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}
