{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Stock</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>

        {% for dataset in data %}
        <tr>
            <td>{{ dataset["symbol"] }}</td>
            <td>{{ dataset["shares"] }}</td>
            <td>{{ dataset["price"] }}</td>
            <td>{{ dataset["total"] }}</td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}
