{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <label>Choose a Stock to Sell</label>
        <input type="symbol" placeholder="Amount" name="shares" autofocus>
        <select name ="symbol">
            {% for symbol in symbols %}
                <option>{{  symbol  }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
