{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <select name ="symbol" id="symbol">
                {% for symbol in symbols %}
                    <option>{{  symbol  }}</option>
                {% endfor %}
            </select>
        <div class="mb-3">
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
